<%- include ("partials/header.ejs") %>

<style>
.carousel-item {
  height: 600px;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-caption {
  right: 2;
  bottom: 0;
  left: auto;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: right;
  max-width: 260px;
}

.carousel-caption h3 {
  font-size: 3.5rem;
  text-shadow: none;
  color: #333;
}
</style>

<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">

  <ol class="carousel-indicators">
    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-2" data-slide-to="1"></li>
    <li data-target="#carousel-example-2" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner" role="listbox">

    <div class="carousel-item active" style="background-image: url('https://homecoming-wp.vmhost.psu.edu/wp-content/uploads/2018/03/cropped-Parade-1.jpg');">
      <div class="carousel-caption">
        <h3 class="h3-responsive">Request</h3>
      </div>
    </div>

    <div class="carousel-item" style="background-image: url('https://dispatch.happyvalley.com/m/photos/_full/Penn-State-flag-and-crowd.jpg');">
      <div class="carousel-caption">
        <h3 class="h3-responsive">Order Summary</h3>
      </div>
    </div>

    <div class="carousel-item" style="background-image: url('https://homecoming.psu.edu/wp-content/uploads/2023/04/MicrosoftTeams-image-8.jpg');">
      <div class="carousel-caption">
        <h3 class="h3-responsive">Download</h3>
      </div>
    </div>

  </div>

  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>

  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div>

<%- include ("partials/footer.ejs") %>
